# Supabase Configuration
# Dapatkan URL dan Anon Key dari Project Settings -> API di dashboard Supabase Anda.
NEXT_PUBLIC_SUPABASE_URL=https://vlpgxbuxfwkpfuxgiqoa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZscGd4YnV4ZndrcGZ1eGdpcW9hIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMzIyMDQsImV4cCI6MjA5OTYwODIwNH0.Ce-OzrsljTwk9Qk8SVQ3aHc-7dtp-SrVUlISuz_cXEQ
